.css-ur2jdm-MuiContainer-root {
  padding: 0px !important;
  background: linear-gradient(
    77deg,
    rgba(0, 0, 0, 0.6),
    transparent 85%
  ) !important;
}
body {
  font-family: Ubuntu, sans-serif;
}
.wrapped {
  background-color: #111;
}
.carousel-item .img-cover img {
  margin-top: 3.875rem;
  max-height: 50rem;
}
.info-film {
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 35%;
  padding: 12px;
  border-radius: 10px;
  /* opacity: 0.8; */
  color: white;
  position: absolute;
  top: 35%;
  left: 10%;
  z-index: 10;
}
.list-movie {
  margin-top: 6.25rem;
  /* border-radius: 8px; */
  /* padding: 1.875rem; */
}
.list-movie img {
  border-radius: 8px;
}

.swiper-button-prev:after {
  color: #fff;
}
.swiper-button-next:after {
  color: #fff;
}
.title-list-movie {
  margin-bottom: 1rem;
  font-family: Ubuntu, sans-serif;
  color: #fff;
  font-size: 18px;
  border-left: 2px solid red;
  padding-left: 5px;
  font-weight: bold;
}
.text-bg-dark {
  margin: 100px;
  /* padding: 100px; */
}
.card-img-overlay h1 {
  font-family: Ubuntu, sans-serif;
  color: #dcdada;
}
.card-img-overlay h5 {
  font-family: Ubuntu, sans-serif;
  color: #5cdf5c;
}
